<div class="ui segment js-segment-praise">
    <div class="ui container  js-p-info">
        <h3 class="ui dividing header">赞赏二维码</h3>
        <div class="ui grid">
            <div class="one wide column"></div>
            <div class="five wide column"><img class="ui rounded left floated medium image" src="./images/wx.jpg"></div>
            <div class="two wide column"></div>
            <div class="five wide column"><img class="ui rounded right floated medium image" src="./images/zfb.jpg"></div>
            <div class="one wide column"></div>
        </div>
        <h3 class="ui dividing header">赞赏排行版</h3>
        <table class="ui selectable celled table">
            <thead>
                <tr>
                    <th>用户</th>
                    <th>昵称</th>
                    <th>赞赏日期</th>
                    <th>赞赏金融(人民币)</th>
                    <th>留言说明</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>lcq</td>
                    <td>泥巴</td>
                    <td>2017-03-01 12:03:08</td>
                    <td>210</td>
                    <td>本人用于服务器租用</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
